<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="author" content="Gabriel Majeri" />
    <meta name="description" content="My personal web page on the internet." />
    <meta name="generator" content={Astro.generator} />

    <title>Gabriel Majeri &mdash; Welcome!</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
